//META{"name":"DiscordElectroWDarknessFixes","description":"Compact, squared and dark for nightowls!","author":"LyGhT","version": "1.1.0","website": "https://github.com/LyGhT1337/Discord-Electro/", "source":"https://github.com/LyGhT1337/Discord-Electro/base.css"}*//{}
/*
+ ========================= +
+ Discord Darkness Theme for Dicord +
+ Made By LyGhT, with code pieces from: cruxie, spectra and clearvision.
+ ========================= +
This theme was last updated on 6th August 2020.
The author LyGhT retains full rights of this code.
If you enjoy using the theme, help spread the word!
*/

/*###################################################################################################*/
@import url('https://lyght1337.github.io/DiscordDarkness/css/base.css');
@import url('https://lyght1337.github.io/DiscordDarkness/css/CodeBlocks.css');
@import url('https://lyght1337.github.io/DiscordDarkness/css/Statusright.css');
@import url('https://lyght1337.github.io/DiscordDarkness/css/credits.css');
@import url('https://lyght1337.github.io/DiscordDarkness/css/badges.css');
/*###################################################################################################*/

:root {
  --primary:#e9cb00;
  --primaryT:#807301;
  --primary2:#e4dc9d;
  --dark:#0c0d10;
  --medium:#121316;
  --light:#1a1b1d;
  --ccolor:rgba(201,175,2,1)
  --pingbackground:rgba(34,14,69,1);
  --pingcolor:rgba(115,0,230,1);
  --pingbackgroundhover:rgba(110,0,232,0.45);
}

.wordmark-2iDDfm{background-color:transparent;opacity:.9;pointer-events:all}.wordmark-2iDDfm svg{background-color:transparent;background-image:url(https://imgur.com/kQEcvf6.png);background-size:contain;width:100px;height:16px;padding-left:15px;padding-right:15px;margin-left:0;display:block;background-repeat: no-repeat;}
.wordmark-2iDDfm{color: transparent;}