//META{"name":"Discord Darkness","description":"Compact, squared and dark for nightowls!","author":"LyGhT","version": "1.1.0","website": "https://github.com/LyGhT1337/DiscordDarkness/index.html", "source":"https://github.com/LyGhT1337/DiscordDarkness/Css/Base.css"}*//{}
/*
+ ========================= +
+ Discord Darkness Theme for Dicord +
+ Made By LyGhT +
+ ========================= +
The author LyGhT retains full rights of this code.
If you enjoy using the theme, help spread the word!
*/

/*###################################################################################################*/
@import url('https://lyght1337.github.io/DiscordDarkness/Css/Base.css');
@import url('https://lyght1337.github.io/DiscordDarkness/Css/MiniThemes/CodeBlocks.css');
@import url('https://lyght1337.github.io/DiscordDarkness/Css/MiniThemes/Statusright.css');
@import url('https://lyght1337.github.io/DiscordDarkness/Css/MiniThemes/Badges.css');
/*###################################################################################################*/

:root{
  --primary:#e94600;
  --primaryT:#691f00;
  --primary2:#d49b83;
  --mentioned:rgba(250, 109, 26, 0.05);	
  --mentionedH:rgba(250, 109, 26, 0.14);
  --dark:#090a0d;
  --medium:#111214;
  --light:#1e1f21;
  --color:#d49b83;
  --pingbackground:rgba(34,14,69,1);
  --pingcolor:rgba(115,0,230,1);
  --pingbackgroundhover:rgba(110,0,232,0.45);
  --HomeButtonImg:url('https://lyght1337.github.io/DiscordDarkness/DiscordDarkness/Css/Website/homeimage.png');
}
