/*
+ ========================= +
+ Discord Darkness Theme for Discord +
+ Made By LyGhT - Huge shoutout to cruxie and spectra for letting me develop this Theme +
+ ========================= +
The author LyGhT retains full rights of this code.
If you enjoy using the theme, help spread the word!
*/

/*###################################################################################################*/
/* Main */
@use 'Css/Base.css';
/* Addons */
@use 'Css/MiniThemes/Statusright.css';
@use 'Css/MiniThemes/Badges.css';
@import url("https://lyght1337.github.io/DarknessCodeBlocks/css/CodeBlocks.css");
@import url("https://lavender-discord.github.io/Settings-Iconsax/theme.css");
@import url("https://crearts-community.github.io/Context-Icons/clients/powercord.css");
@import url("https://lavender-discord.github.io/IconsaxDiscord/src/channel-icons.css");
@import url("https://lavender-discord.github.io/IconsaxDiscord/icon-styles/icons-bold.css");
@import url("https://lavender-discord.github.io/IconsaxDiscord/src/toolbar.css");
/*###################################################################################################*/

:root{
  --primary:#e94600;
  --primaryT:#691f00;
  --primary2:#d49b83;
  --unreadcolor:#d49b83;
/* Background */
  --dark:#050608;
  --medium:#0b0b0d;
  --light:#15151a;
/* Pings */
  --mentioned:rgba(250, 109, 26, 0.05);	
  --mentionedH:rgba(250, 109, 26, 0.14);
  --pingbackground:rgba(34,14,69,1);
  --pingcolor:rgba(115,0,230,1);
  --pingbackgroundhover:rgba(110,0,232,0.45);
/* Images */
--HomeButtonImg:url('https://lyght1337.github.io/DiscordDarkness/Css/Website/homeimage.png');
}
