
/*

/* Status Right */
[role="img"][aria-label]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  border-radius: 0;
  border-right: 2.5px solid grey;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm {padding-left: 15px;}
.avatarOffline-3GF27z {filter: grayscale(100%);}

.avatarOffline-3GF27z,
[role="img"][aria-label] {border-radius: 0;}
.avatarOffline-3GF27z foreignObject,
[role="img"][aria-label] foreignObject {mask: none;}
.avatarOffline-3GF27z foreignObject img,
[role="img"][aria-label] foreignObject img {border-radius: 0;}
.avatarOffline-3GF27z  svg rect,
[role="img"][aria-label] svg rect {display: none;}

[role="img"][aria-label*="Online" i]:before,
[role="img"][aria-label*="Conectado" i]:before,
[role="img"][aria-label*="En ligne" i]:before,
[role="img"][aria-label*="Na mreži" i]:before,
[role="img"][aria-label*="Prisijungęs" i]:before,
[role="img"][aria-label*="Elérhető" i]:before,
[role="img"][aria-label*="Pålogget" i]:before,
[role="img"][aria-label*="Dostępny" i]:before,
[role="img"][aria-label*="Disponível" i]:before,
[role="img"][aria-label*="Paikalla" i]:before,
[role="img"][aria-label*="Trực tuyến" i]:before,
[role="img"][aria-label*="Çevrimiçi" i]:before,
[role="img"][aria-label*="Συνδεδεμένος" i]:before,
[role="img"][aria-label*="На линия" i]:before,
[role="img"][aria-label*="В сети" i]:before,
[role="img"][aria-label*="В мережі" i]:before,
[role="img"][aria-label*="ออนไลน์" i]:before,
[role="img"][aria-label*="在线" i]:before,
[role="img"][aria-label*="オンライン" i]:before,
[role="img"][aria-label*="線上" i]:before,
[role="img"][aria-label*="온라인" i]:before {
border-right: 2.5px solid #43b581;}
[role="img"][aria-label*="Do Not Disturb" i]:before,
[role="img"][aria-label*="Vil ikke forstyrres" i]:before,
[role="img"][aria-label*="Bitte nicht stören" i]:before,
[role="img"][aria-label*="No molestar" i]:before,
[role="img"][aria-label*="Ne pas déranger" i]:before,
[role="img"][aria-label*="Ne uznemiravaj" i]:before,
[role="img"][aria-label*="Non disturbare" i]:before,
[role="img"][aria-label*="Netrukdyti" i]:before,
[role="img"][aria-label*="Niet storen" i]:before,
[role="img"][aria-label*="Ikke forstyrr" i]:before,
[role="img"][aria-label*="Nie przeszkadzać" i]:before,
[role="img"][aria-label*="Elfoglalt" i]:before,
[role="img"][aria-label*="Não perturbar" i]:before,
[role="img"][aria-label*="Nu deranja" i]:before,
[role="img"][aria-label*="Älä häiritse" i]:before,
[role="img"][aria-label*="Stör ej" i]:before,
[role="img"][aria-label*="Vui Lòng Không Làm Phiền" i]:before,
[role="img"][aria-label*="Rahatsız Etmeyin" i]:before,
[role="img"][aria-label*="Nerušit" i]:before,
[role="img"][aria-label*="Μην ενοχλείτε" i]:before,
[role="img"][aria-label*="Не ме безпокой" i]:before,
[role="img"][aria-label*="Не беспокоить" i]:before,
[role="img"][aria-label*="Не турбувати" i]:before,
[role="img"][aria-label*="ห้ามรบกวน" i]:before,
[role="img"][aria-label*="请勿打扰" i]:before,
[role="img"][aria-label*="取り込み中" i]:before,
[role="img"][aria-label*="請勿打擾" i]:before,
[role="img"][aria-label*="다른 용무 중" i]:before {
border-right: 2.5px solid #f04747;}
[role="img"][aria-label*="Idle" i]:before,
[role="img"][aria-label*="Inaktiv" i]:before,
[role="img"][aria-label*="Abwesend" i]:before,
[role="img"][aria-label*="Ausente" i]:before,
[role="img"][aria-label*="Inactif" i]:before,
[role="img"][aria-label*="U mirovanju" i]:before,
[role="img"][aria-label*="Inattivo" i]:before,
[role="img"][aria-label*="Pasitraukęs" i]:before,
[role="img"][aria-label*="Tétlen" i]:before,
[role="img"][aria-label*="Inactief" i]:before,
[role="img"][aria-label*="Zaraz wracam" i]:before,
[role="img"][aria-label*="Inactiv" i]:before,
[role="img"][aria-label*="Toimeton" i]:before,
[role="img"][aria-label*="Chờ" i]:before,
[role="img"][aria-label*="Boşta" i]:before,
[role="img"][aria-label*="Nečinný" i]:before,
[role="img"][aria-label*="Αδρανής" i]:before,
[role="img"][aria-label*="Не се използва" i]:before,
[role="img"][aria-label*="Не активен" i]:before,
[role="img"][aria-label*="Відійшов" i]:before,
[role="img"][aria-label*="ไม่อยู่" i]:before,
[role="img"][aria-label*="闲置" i]:before,
[role="img"][aria-label*="退席中" i]:before,
[role="img"][aria-label*="閒置" i]:before,
[role="img"][aria-label*="자리비움"]:before {
border-right: 2.5px solid #faa61a;}
[role="img"][aria-label*="Streaming" i]:before,
[role="img"][aria-label*="Streamer" i]:before,
[role="img"][aria-label*="Transmitiendo" i]:before,
[role="img"][aria-label*="En direct" i]:before,
[role="img"][aria-label*="In diretta" i]:before,
[role="img"][aria-label*="Transliuojama" i]:before,
[role="img"][aria-label*="Közvetítés" i]:before,
[role="img"][aria-label*="Streamt" i]:before,
[role="img"][aria-label*="Strømmer" i]:before,
[role="img"][aria-label*="Streamowanie" i]:before,
[role="img"][aria-label*="Transmitindo" i]:before,
[role="img"][aria-label*="Transmite live" i]:before,
[role="img"][aria-label*="Striimaa" i]:before,
[role="img"][aria-label*="Streamar" i]:before,
[role="img"][aria-label*="Đang stream" i]:before,
[role="img"][aria-label*="Yayın Yapıyor" i]:before,
[role="img"][aria-label*="Streamuje" i]:before,
[role="img"][aria-label*="Ζωντανά" i]:before,
[role="img"][aria-label*="Стрийминг" i]:before,
[role="img"][aria-label*="Стримит" i]:before,
[role="img"][aria-label*="Трансляція" i]:before,
[role="img"][aria-label*="ถ่ายทอดสด" i]:before,
[role="img"][aria-label*="正在直播" i]:before,
[role="img"][aria-label*="配信" i]:before,
[role="img"][aria-label*="直播中" i]:before,
[role="img"][aria-label*="配信" i]:before {
border-right: 2.5px solid #6441a5;}
[role="img"][aria-label*="Offline" i]:before,
[role="img"][aria-label*="Hors ligne" i]:before,
[role="img"][aria-label*="Nem elérhető" i]:before,
[role="img"][aria-label*="Neprisijungęs" i]:before,
[role="img"][aria-label*="Niedostępny" i]:before,
[role="img"][aria-label*="Izvan mreže" i]:before,
[role="img"][aria-label*="오프라인" i]:before,
[role="img"][aria-label*="離線" i]:before,
[role="img"][aria-label*="オフライン" i]:before,
[role="img"][aria-label*="离线" i]:before,
[role="img"][aria-label*="ออฟไลน์" i]:before,
[role="img"][aria-label*="Не в мережі" i]:before,
[role="img"][aria-label*="Не в сети" i]:before,
[role="img"][aria-label*="Извън линия" i]:before,
[role="img"][aria-label*="Αποσυνδεδεμένος" i]:before,
[role="img"][aria-label*="Çevrimdışı" i]:before,
[role="img"][aria-label*="Ngoại tuyến" i]:before,
[role="img"][aria-label*="Ei paikalla" i]:before,
[role="img"][aria-label*="Frakoblet" i]:before,
[role="img"][aria-label*="Desconectado" i]:before,
.avatarOffline-3GF27z {
border-right: 2.5px solid #747f8d;}
[role="img"][aria-label*="Invisible" i]:before,
[role="img"][aria-label*="Usynlig" i]:before,
[role="img"][aria-label*="Unsichtbar" i]:before,
[role="img"][aria-label*="Nevidljiv/a" i]:before,
[role="img"][aria-label*="Nematomas" i]:before,
[role="img"][aria-label*="Izvan mreže" i]:before,
[role="img"][aria-label*="Nevidljiv/a" i]:before,
[role="img"][aria-label*="Nematomas" i]:before,
[role="img"][aria-label*="Láthatatlan" i]:before,
[role="img"][aria-label*="Onzichtbaar" i]:before,
[role="img"][aria-label*="Usynlig" i]:before,
[role="img"][aria-label*="Niewidoczny" i]:before,
[role="img"][aria-label*="Invisível" i]:before,
[role="img"][aria-label*="Invizibil" i]:before,
[role="img"][aria-label*="Näkymätön" i]:before,
[role="img"][aria-label*="Osynlig" i]:before,
[role="img"][aria-label*="Vô hình" i]:before,
[role="img"][aria-label*="Görünmez" i]:before,
[role="img"][aria-label*="Neviditelný" i]:before,
[role="img"][aria-label*="Αόρατος" i]:before,
[role="img"][aria-label*="Невидим" i]:before,
[role="img"][aria-label*="Невидимый" i]:before,
[role="img"][aria-label*="Невидимий" i]:before,
[role="img"][aria-label*="ไม่ระบุ" i]:before,
[role="img"][aria-label*="隐身" i]:before,
[role="img"][aria-label*="オンライン状態を隠す" i]:before,
[role="img"][aria-label*="隱形" i]:before,
[role="img"][aria-label*="오프라인 표시" i]:before {
border-right: 2.5px solid #747f8d;}
.cursorDefault--wfhy5,
.dots-1BwzZQ {
  overflow:visible;}
.dots-1BwzZQ [cx="2.5"] {
  cy:-8;
  cx: -8.5;}
.dots-1BwzZQ [cx="8.75"] {
  cy:-8;
  cx: -2.25;}
.dots-1BwzZQ [cx="15"] {
  cy:-8;
  cx: 4;}
.avatarWrapper-3H_478 {border-radius: 0;}
foreignObject[mask*="round-80"] {mask: none!important;}
