/* Main */
html {
    font-family: Verdana;
    color: #fff;
    background-color: #111214;
    font-size: 16px;
}

/* HyperLinks */
a:link {
    color: #e94600;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #691f00;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #691f00;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #e94600;
    background-color: transparent;
    text-decoration: underline;
}

 /* Animations */
img {
    transition: 250ms ease all, 250ms ease background-color;
}
img:hover {
    transform: scale(1.05);
}
.fa-github, .fa-reddit, .fa-steam, .fa-twitch, .fa-twitter, .fa-youtube, .fa-instagram, .fa-discord {
    transition: 250ms ease all, 250ms ease background-color;
}
.fa-github:hover, .fa-reddit:hover, .fa-steam:hover, .fa-twitch:hover, .fa-twitter:hover, .fa-youtube:hover, .fa-instagram:hover, .fa-discord:hover {
    transform: scale(1.25);
}

/********** Navbar **********/
.Navbar {
    background-color: #090a0d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 15px 2px  #090a0d;
    z-index: 1;
}
.Navbar-Inner {
    word-spacing: 180px;
    font-size: 16px;
    padding: 1% 0%;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
}
.Navbar-Inner-Text {
    color: #b6b6b6 !important; 
    word-spacing: initial;
}

/********** Social NavBar **********/
.Social-Navbar {
    background-color: #090a0d;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 15px 2px  #090a0d;
}
.Social-Navbar-Inner{
    word-spacing: 45px;
    font-size: 35px;
    padding: 0.4% 0%;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
}
.fa-github {
    color: #0366d6;
}

.fa-steam { 
    color: #9ac0d7;
}
.fa-twitter {
    color: #1da1f2;
}
.fa-youtube {
    color: #ff0000;
}
.Copyright {
    font-size: 10px;
    position: absolute;
    left: 90%;
    width: 10%;
    bottom: 8%;
    word-spacing: 2px;
}

/********** About.html **********/
/* Main Area */
.Main-About {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width:1000px;
}
.Main-Header {
    text-align: center;
    color: #a83200;
}
/* Image */
.Preview {
    transition: 250ms ease all, 250ms ease background-color;
    width: 1000px;
    box-shadow: 0px 0 15px #e9460063;
}

.Preview:hover{
    transform: scale(1.05);
}
