/**
 * @name DiscordDarkness
 * @version 1.2.1
 * @description Compact, squared and dark for nightowls!
 * @author LyGhT.#1337
 * @source https://github.com/LyGhT1337/DiscordDarkness/Css/Base.css
 * @website https://LyGhT1337.github.io/DiscordDarkness/
 *//*
+ ========================= +
+ DiscordDarkness Theme for Discord +
+ Made By LyGhT and Cruxie +
+ ========================= +
The author LyGhT retains full rights of this code.
If you enjoy using the theme, help spread the word!
*/
/*###################################################################################################*/
/* Main */
@import url('https://lyght1337.github.io/DiscordDarkness/Css/BD/Css/Base.css');
/* Addons */
@import url('https://lyght1337.github.io/DiscordDarkness/Css/BD/Css/MiniThemes/CodeBlocks.css');
@import url('https://lyght1337.github.io/DiscordDarkness/Css/BD/Css/MiniThemes/Statusright.css');
@import url('https://lyght1337.github.io/DiscordDarkness/Css/BD/Css/MiniThemes/SettingIcons.css');
@import url('https://lyght1337.github.io/DiscordDarkness/Css/BD/Css/MiniThemes/Badges.css');
/*###################################################################################################*/

:root{
  --primary:#e94600;
  --primaryT:#691f00;
  --primary2:#d49b83;
  --unreadcolor:#d49b83;
  --hoverlight:#15151b;
/* Background */
  --dark:#050608;
  --medium:#0b0b0d;
  --light:#15151a;
/* Pings */
  --mentioned:rgba(250, 109, 26, 0.05);	
  --mentionedH:rgba(250, 109, 26, 0.14);
  --pingbackground:rgba(34,14,69,1);
  --pingcolor:rgba(115,0,230,1);
  --pingbackgroundhover:rgba(110,0,232,0.45);
/* Images */
  --HomeButtonImg:url('https://lyght1337.github.io/DiscordDarkness/Css/Website/homeimage.png');
}
